<p style="color:white">Please type the text you want to convert into a QR code </p>
<textarea type="text" class="ta"[(ngModel)]="qrdata" cols="40" rows="1" placeholder="Type Here..."style="background-color:white;color:black;resize:none"></textarea>
<br>
<br>
<br>
<div *ngIf="buttonPressed==false || qrdata=='';else elseBlock">
    <a style="font-weight: bold;" (click)="onPressed()" download class="bn5">Generate QR</a>
</div>
<ng-template #elseBlock>
    <qrcode (qrCodeURL)="onCodeChange($event)" width:1000 [qrdata]="qrdata" ></qrcode>
    <br> <br>
    <a style="font-weight: bold;" [href]="url" download class="bn5">Download QR Image</a>
    <br>
    <br><br>
    <a style="font-weight: bold;" (click)="reset()" download class="bn5">Reset</a>
</ng-template>

