<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
</style>
<body>
  
  <app-nav></app-nav>
  <main>
    <h1 align="center">QR Code Generator</h1>
    <br>
    <br>
      <div align="center">
        <app-qr></app-qr>
      </div>
    </main>
    
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>